# CARTESIA Configuration
CARTESIA_WS_URL=wss://api.cartesia.ai/agents/stream/<your-cartesia-agent-id>
CARTESIA_API_KEY=your-cartesia-api-key

# Teler Configuration
TELER_API_KEY=your-teler-api-key

# Server Configuration
SERVER_DOMAIN=
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Logging
LOG_LEVEL=INFO

# Ngrok Configuration
NGROK_AUTHTOKEN=your-ngrok-auth-token

# Other configurations
CHUNK_BUFFER_SIZE=10